<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "layouts :: header"></head>

<body>

<nav th:replace = "layouts :: navbar"></nav>

	<div>
		<h4> Current Projects </h4>
		<table>
			<thead>
				<tr> 
					<th> Project Name </th>
					<th> Project Stage </th>
					<th> Project Description </th>
				</tr>
			</thead>
			<tbody> 
				<tr th:each="aProject : ${projectsList}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
					<td th:text="${aProject.description}"/>
				</tr>
			</tbody>
			
		</table>
		
		<h4> Employees </h4>
		<table>
			<thead>
				<tr> 
					<th> First Name </th>
					<th> Last Name </th>
					<th> Email Address </th>
				</tr>
			</thead>
			<tbody> 
				<tr th:each="anEmployee : ${employeesList}">
					<td th:text="${anEmployee.firstName}"/>
					<td th:text="${anEmployee.lastName}"/>
					<td th:text="${anEmployee.email}"/>
				</tr>
			</tbody>
			
		</table>
		
	</div>

</body>

</html>